################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BatchPay/bin/Debug
/BatchPay/obj
/BatchPay/.vs/BatchPay
/.vs/MINEPROJEKTER/v17/.wsuo
/BatchPay.Api/bin/Debug/net8.0
/BatchPay.Api/obj
/Data/obj
/Data/bin/Debug/net8.0
BatchPay/.vs/ProjectEvaluation
/BatchPayLogic/bin/Debug/net8.0/BatchPay.ServiceLogic.deps.json
/BatchPayLogic/bin/Debug/net8.0/BatchPay.ServiceLogic.dll
/BatchPayLogic/bin/Debug/net8.0/BatchPay.ServiceLogic.pdb
/BatchPayLogic/bin/Debug/net8.0/BatchPayServiceLogic.dll
/BatchPayLogic/bin/Debug/net8.0/BatchPayServiceLogic.pdb
/BatchPayLogic/bin/Debug/net8.0/Data.dll
/BatchPayLogic/bin/Debug/net8.0/Data.pdb
/BatchPay/.vs/ProjectEvaluation/batchpay.metadata.v7.bin
/BatchPay/.vs/ProjectEvaluation/batchpay.projects.v7.bin
/BatchPayLogic/obj/Debug/net8.0/ref/BatchPay.ServiceLogic.dll
/BatchPayLogic/obj/Debug/net8.0/ref/BatchPayServiceLogic.dll
/BatchPayLogic/obj/Debug/net8.0/refint/BatchPay.ServiceLogic.dll
/BatchPayLogic/obj/Debug/net8.0/refint/BatchPayServiceLogic.dll
/BatchPayLogic/obj/Debug/net8.0/BatchPay.ServiceLogic.AssemblyInfo.cs
/BatchPayLogic/obj/Debug/net8.0/BatchPay.ServiceLogic.AssemblyInfoInputs.cache
/BatchPayLogic/obj/Debug/net8.0/BatchPay.ServiceLogic.assets.cache
/BatchPayLogic/obj/Debug/net8.0/BatchPay.ServiceLogic.csproj.AssemblyReference.cache
/BatchPayLogic/obj/Debug/net8.0/BatchPay.ServiceLogic.csproj.CopyComplete
/BatchPayLogic/obj/Debug/net8.0/BatchPay.ServiceLogic.csproj.CoreCompileInputs.cache
/BatchPayLogic/obj/Debug/net8.0/BatchPay.ServiceLogic.csproj.FileListAbsolute.txt
/BatchPayLogic/obj/Debug/net8.0/BatchPay.ServiceLogic.dll
/BatchPayLogic/obj/Debug/net8.0/BatchPay.ServiceLogic.GeneratedMSBuildEditorConfig.editorconfig
/BatchPayLogic/obj/Debug/net8.0/BatchPay.ServiceLogic.GlobalUsings.g.cs
/BatchPayLogic/obj/Debug/net8.0/BatchPay.ServiceLogic.pdb
/BatchPayLogic/obj/Debug/net8.0/BatchPay.ServiceLogic.sourcelink.json
/BatchPayLogic/obj/Debug/net8.0/BatchPayServiceLogic.AssemblyInfo.cs
/BatchPayLogic/obj/Debug/net8.0/BatchPayServiceLogic.AssemblyInfoInputs.cache
/BatchPayLogic/obj/Debug/net8.0/BatchPayServiceLogic.csproj.AssemblyReference.cache
/BatchPayLogic/obj/Debug/net8.0/BatchPayServiceLogic.dll
/BatchPayLogic/obj/Debug/net8.0/BatchPayServiceLogic.pdb
/BatchPayLogic/obj/Debug/net8.0/BatchPayServiceLogic.sourcelink.json
/BatchPayLogic/obj/BatchPay.ServiceLogic.csproj.nuget.dgspec.json
/BatchPayLogic/obj/BatchPay.ServiceLogic.csproj.nuget.g.props
/BatchPayLogic/obj/BatchPay.ServiceLogic.csproj.nuget.g.targets
/BatchPayLogic/obj/BatchPayServiceLogic.csproj.nuget.g.props
/BatchPayLogic/obj/project.assets.json
/BatchPayLogic/obj/project.nuget.cache
