################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BatchPay/bin/Debug
/BatchPay/obj
/BatchPay/.vs/BatchPay
/.vs/MINEPROJEKTER/v17/.wsuo
/BatchPay.Api/bin/Debug/net8.0
/BatchPay.Api/obj
/Data/obj
/Data/bin/Debug/net8.0
/BatchPayLogic
/BatchPay/.vs/ProjectEvaluation
/NewBatchPay/BatchPay/bin/Debug
/NewBatchPay/BatchPay.Contracts/bin/Debug/net10.0
/NewBatchPay/BatchPay.Contracts/obj
/NewBatchPay/BatchPay.Data/bin/Debug/net10.0
/NewBatchPay/BatchPay.Data/obj
/NewBatchPay/BatchPay.Logic/bin/Debug/net10.0
/NewBatchPay/BatchPay.Logic/obj
/NewBatchPay/.vs
/NewBatchPay/BatchPay.Api/bin/Debug/net10.0
/NewBatchPay/BatchPay.Api/obj
/NewBatchPay/BatchPay.Frontend/.vs
/NewBatchPay/BatchPay.Frontend/bin/Debug
/NewBatchPay/BatchPay.Frontend/obj
/.vs/VSWorkspaceState.json
/.vs/MINEPROJEKTER.slnx/v18
/.vs/VSWorkspaceState.json
/NewBatchPay/BatchPay.Api/bin/Release/net10.0
/NewBatchPay/BatchPay.Contracts/bin/Release/net10.0
/NewBatchPay/BatchPay.Data/bin/Release/net10.0
/NewBatchPay/BatchPay.Frontend/bin/Release
/NewBatchPay/BatchPay.Logic/bin/Release/net10.0
